
JWT_SECRET_KEY = 1+VQKpzzwgt8c5E83Zne+pcUBcDTbcE8Lq0eG3PUahxAGhIH8iZV8hsl/TlXQQrv
               gKe19VDEu1A5qHEManIyvd4G6OHml4dEPGbzENGooWbe2el89nUW6BkfhU2zYhRc
               0xN7vB7IeOg1dbewHIuCy29duRl0LdKTf++9/ynJTUi2Xmxu/zhN5OjUCQ4wBtn9
               bxwsciboHlQFn1C9l7KnS+YuNgHEgtv+6pxFOA==


